name: Build Images
#

on:
#  push:
  schedule:
    - cron: "30 3 * * *"
  workflow_dispatch:
    inputs:
      release:
        type: choice
        description: 'Release'
        options:
        - nightly
        - stable
      board:
        description: 'Board'
        required: false
        default: ''
      version:
        description: 'Version'
        required: false
        default: ''


jobs:

  Prepare:
  
    name: "Preparing Actions" # In case we have a currently active build, cancel it
    
    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    steps:

      - name: "Cancel active workflow"
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          all_but_latest: true
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Keep only 32 nightly releases"
        uses: Vucko130/delete-older-releases@v0.2.2
        with:
          keep_latest: 32
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: "Purge action workflow logs"
        uses: igorjs/gh-actions-clean-workflow@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          days_old: 14

  generaterelease:

    needs: Prepare

    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    
    name: "Generate ${{ inputs.release }} release"
    outputs:
      version: ${{steps.releases.outputs.version}}
    steps:

      - name: "Get version and commit hash"
        id: releases
        run: |
        
          VERSION=$(curl -s https://raw.githubusercontent.com/armbian/build/main/VERSION)"-"$(git ls-remote -h https://github.com/armbian/build main | cut -c1-9)
          [[ -n "${{ inputs.version }}" ]] && VERSION="${{ inputs.version }}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: "Generate body file"
        run: |
          echo "
            <p align='center'>
            <a href='https://www.armbian.com'>
            <img src='https://raw.githubusercontent.com/armbian/.github/master/profile/tux-two.png' width='400' height='226' alt='Armbian Linux'></a>
            <br>
            
            -  Images below are built on every Linux kernel code, config or patches changes,
            -  We provide here only a small selection of images that are currently interested for developers,
            -  If you want to enable more build targets in this list, edit <a href='https://github.com/armbian/os/tree/main/targets'>build config files</a>.</p>
            
            <br>
            If you don't find what you are looking for, check those images:
            <p>
            
            - <a href=https://www.armbian.com/download/ target=_blanks>officially supported</a> (known support status and suitable for production deployments),
            - <a href=https://github.com/armbian/community/>community supported</a> (unknown support status),
            - <a href=https://archive.armbian.com target=_blank>archived</a> (old builds with unknown support status),
            
            <br>
            &nbsp;
            </p>" > body.html

      - uses: ncipollo/release-action@v1      
        if: ${{ github.repository_owner == 'Armbian' && github.event.inputs.release != 'stable' }}
        with:
          tag: "${{ steps.releases.outputs.version }}"
          name: "Community ${{ steps.releases.outputs.version }}"
          bodyFile: "body.html"
          allowUpdates: true
          removeArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}

  Cluster_1:

    needs: generaterelease
    name: "Cluster 1/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 1
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}

  Cluster_2:

    needs: generaterelease
    name: "Cluster 2/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 2
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}

  Cluster_3:

    needs: generaterelease
    name: "Cluster 3/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 3
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}

  Cluster_4:

    needs: generaterelease
    name: "Cluster 4/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 4
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}

  Cluster_5:

    needs: generaterelease
    name: "Cluster 5/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 5
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}

  Cluster_6:

    needs: generaterelease
    name: "Cluster 6/6"
    if: ${{ success() && github.repository_owner == 'Armbian' }}
    uses: armbian/scripts/.github/workflows/build-images.yml@main

    with:

      config: "${{ github.event.inputs.config || 'all.conf' }}"
      release: "${{ github.event.inputs.release || 'nightly' }}"
      board: '${{ github.event.inputs.board }}'
      part: 6
      of: 6
      version: "${{ needs.generaterelease.outputs.version }}"

    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      SSH_KEY_TORRENTS: ${{ secrets.KEY_TORRENTS }}
      KNOWN_HOSTS_UPLOAD: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
      GPG_KEY1: ${{ secrets.GPG_KEY1 }}
      GPG_PASSPHRASE1: ${{ secrets.GPG_PASSPHRASE1 }}
