name: "Generating index"
on:

  schedule:
    - cron:  '0 01 * * 1'
  workflow_dispatch:

env:
   GH_TOKEN: ${{ secrets.CR_PAT }}

jobs:

  jobsend:

    name: "Create index"
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'Armbian' }}
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get releases
        uses: armbian/actions/make-json@main
        with:
          repository: "community"
          filename: "generic"
          key: ${{ secrets.KEY_TORRENTS }}
          known_hosts: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
          grep: "Uefi,Rpi4b"

      - name: Get releases
        uses: armbian/actions/make-json@main
        with:
          repository: "community"
          filename: "optimised"
          key: ${{ secrets.KEY_TORRENTS }}
          known_hosts: ${{ secrets.KNOWN_HOSTS_UPLOAD }}
          grep: "-v Uefi,Rpi4b"

      - name: Make build list
        run: |

          VERSION=$(date +%Y%U)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

          #cat json/generic.md
          #cat json/optimised.md
          ls -l
          cat .github/header.inc > README.md
          echo -en "&nbsp;\n\n" >> README.md
          cat community/.github/memo.inc >> README.md
          echo -en "&nbsp;\n\n" >> README.md
          echo -e "\n# Generic / popular\n"  >> README.md
          echo "| Image &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | GPG | SHA | Release | Branch | &nbsp;&nbsp;&nbsp; Variant | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Size | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kernel |" >> README.md
          echo "| --- | :--: | :--: | --: | --: | --: | --: | --: |" >> README.md
          cat json/generic.md >> README.md
          echo -e "<br>\n\n# Optimized \n\n" >> README.md
          echo "| Image &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | GPG | SHA | Release | Branch | &nbsp;&nbsp;&nbsp; Variant | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Size | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kernel |" >> README.md
          echo "| --- | :--: | :--: | --: | --: | --: | --: | --: |" >> README.md
          cat json/optimised.md >> README.md
          echo -en "\n\n&nbsp;" >> README.md
          cat .github/footer.inc >> README.md

      - uses: ncipollo/release-action@v1
        with:
          tag: "${{ env.VERSION }}"
          bodyFile: ".github/Releases.md"
          name: "Community ${{ env.VERSION }}"
          allowUpdates: true
          token: ${{ secrets.CR_PAT }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_KEY2 }}
          passphrase: ${{ secrets.GPG_PASSPHRASE2 }}
          workdir: community
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update scripts
        run: |
          if git status --porcelain | grep .; then
             git config --global user.email "info@armbian.com"
             git config --global user.name "Armbianworker"
             git config pull.rebase false
             git pull
             git add README.md
             git commit --allow-empty -m "Update index"
             git push
          fi

      - name: Sync images & recreate torrents
        uses: armbian/actions/triggers@main
        with:
          KEY: ${{ secrets.KEY_RECREATE_TORRENT }}
          USER: ${{ secrets.USER_REPOSITORY }}
          HOST: ${{ secrets.HOST_REPOSITORY }}
          KNOWN_HOSTS: ${{ secrets.KNOWN_HOSTS_REPOSITORY }}
